page-home {

	.fixed-content {animation: background 10s cubic-bezier(0, 0, 0, 0) infinite}
	
	@keyframes background{
	  0%{background-color:#9b2828}
	  7.14%{background-color:#9b2852}  
	  14.28%{background-color:#84289b}
	  21.42%{background-color:#3f289b}
	  28.56%{background-color:#286b9b}
	  35.7%{background-color:#289b9b}
	  45.84%{background-color:#289b5b}
	  52%{background-color:#3f9b28}
	  58.14%{background-color:#6f9b28}
	  67.28%{background-color:#9b8d28}
	  76.42%{background-color:#9b7228}
	  84.57%{background-color:#9b5d28}
	  92.7%{background-color:#9b4828}
	  100%{background-color:#9b3328}
	}





	.coin {
	  margin: -50px 0 0 -50px;
	  width: 130px;
	  height: 130px;
	  position: absolute;
	  top: 60%;
	  left: 50%;
	  transform-style: preserve-3d;
	  border: solid 1px #473f3f;
	  border-radius: 100%;
	}

	.coin .testa {
	  width: 100%;
	  height: 100%;
	  border-radius: 50%;
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: -1;	  
	}

	.coin .croce {
	  width: 100%;
	  height: 100%;
	  background: #f7941e;
	  border-radius: 50%;
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 1; 
	   transform: rotateY(180deg) translateZ(10px);
	}

	.coin .testa_b {
	  width: 100%;
	  height: 100%;
	  background: #f7941e;
	  border-radius: 50%;
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 2;
	  transform: translateZ(-1px);
	}

	.coin .croce_b {
	  width: 100%;
	  height: 100%;
	  background: #f7941e;
	  border-radius: 50%;
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: -2;
	  
	  transform: translateZ(-9px);
	}

	.coin:before {
    content: "";
    margin-left: -10px;
    width: 10px;
    height: 100%;
    background: #f7941e;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: rotateX(90deg) rotateZ(90deg);
    transform-origin: 100% 50%;
	}

	.coin .testa_b:before {
	  content: "";
	  width: 100%;
	  height: 100%;
	  border: 10px solid #fbb041;
	  border-radius: 50%;
	  box-sizing: border-box;
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 3;
	}

	.coin .testa_b:after {
	  content: url('../imgs/testa.png');
	  padding: 33px 0 0 0;
	  width: 100%;
	  height: 100%;
	  font-size: 5em;
	  font-weight: bold;
	  color: #fbb041;
	  line-height: 1;
	  text-align: center;
	  box-sizing: border-box;
	  position: absolute;  
	  top: 0;
	  left: 0;
	  z-index: 4;
	}

	.coin .croce:before {
	  content: "";
	  width: 100%;
	  height: 100%;
	  border: 10px solid #fbb041;
	  border-radius: 50%;
	  box-sizing: border-box;
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: -3;
	}

	.coin .croce:after {
	  content: url('../imgs/croce.png');
	  padding: 33px 0 0 0;
	  width: 100%;
	  height: 100%;
	  font-size: 3em;
	  font-weight: bold;
	  color: #fbb041;
	  line-height: 1;
	  text-align: center;
	  box-sizing: border-box;
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: -4;
	  transform: rotateY(180deg);
	}
	  
  @keyframes coin {
    0% { transform: rotateX(0); }
    100% { transform: rotateX(360deg); }
  }
  
  @keyframes fly {
    0% { top: 60%; }
    50% { top: 10%; }
    100%  {top: 60% }
  }

  .shadow{
    background-color:rgba(255, 0, 0, 0.3);
    margin-top:5em;
    width: 54px;
    margin-top: 35.5em;
    margin-left: auto;
    margin-right: auto;
    border-radius:100%		
  }
  
  .shadow p{color:rgba(0, 0, 0, 0);}
}