.ios, .md {
 
    .tutorial-page {
        background: #1a333f;

        .toolbar-background {
          background: #1a333f;
          border-color: transparent;
        }
      
        .slide-zoom {
          height: 100%;
        }
      
        .slide-title {
          margin-top: 2.8rem;
        }
      
        .slide-image {
          max-height: 50%;
          max-width: 60%;
          margin: 18px 0;
		      box-shadow: 0 0 26px black;
    border-radius: 7px;
        }
      
        b {
          font-weight: 500;
        }
      
        p {
          padding: 0 40px;
          font-size: 14px;
          line-height: 1.5
		  }
      
          b, p, h2, .bar-button, button {
            color: #dbdbdb !important;
          }
		  
		  .swiper-pagination-bullet-active{background:#dbdbdb}
        
      
      }
   
  }